html , body{
    margin: 0 ;
    height: 100%;

}
.background{
    background-color:#EDE9D0;
    height:100% ;
}
.container{
    height: 650px;
    width: 1000px;
    position:absolute;
    top:50% ; 
    left: 50% ;
    transform: translate(-50%,-50%);
    border-radius: 3.8%;
    background-image: linear-gradient(180deg, #92472b 10%, transparent 10% ), url(/images/unsplash.png) ;
    background-position:bottom ;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 100px 5px #BFBFBF;

    
}
/*The transparent card*/
.card{
    height: 28%;
    width: 30%;
    border:2px solid #ffffff7e ;
    position:absolute;
    top:50% ;
    left:7% ;
    border-radius: 5%;
    backdrop-filter: blur(10px);
}
.card:hover{
    border:2px solid #ffffffb4 ;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(255,255,255,0.7);
    transition: border 1s ease-in-out 0.3s , transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s ,  box-shadow 0.2s ease-in-out 0s;
    transform: translateY(-5px);
    
}
.card img{
    width: 55px;
    height: 55px;
    margin-left:77%;
}
.card p {
    margin: 20% 0 0 10% ;
    color: aliceblue;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;

}
.card div {
    margin: 3% 0 0% 10% ;
    color: #EDE9D0;
    font-size: small;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;

}
/*The transparent card closed*/


/*The Header Stufff*/
a>img{
    border-radius: 50% ;
    height: 50px;
    width: 50px;
    margin-top: -20px;
}
a>img:hover{
    box-shadow:2px 2px 2px 1px goldenrod;
}
.container .header{
    margin: 1% 2% 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#company{
    font-size: large;
    margin-top: 2%;
    text-transform: uppercase;
    color: white;
    font-family: 'Michroma', sans-serif;
}
.header a {
    
    margin-top: 2%;
    font-size: medium;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    
}
.footer{
    position: absolute;
    bottom: 20px;
    right: 180px;
    color:#92472B;
}
/*The header stuff closed*/

.panel{
    height: 60%;
    width: 37% ;
  
    position:absolute ;
    right:10% ;
    bottom: 10%;
    background-color: #f5c3b2;
    border-radius: 5%;

}
h3 {
    margin:9% 5% 5% 5% ;
    color:#92472B ;
    font-family: 'Oswald', sans-serif;
    letter-spacing:2px ;
}
.panel>form>input  {
    margin-left: 20% ;
    margin-top:1% ;
    margin-bottom: 3%;
    display: block;
    border: none;
    padding:2px 11% 2px 11%;
    background-color: #fadcd1;
    
}
.panel>form>label{
    margin-left:12%;
    color: #92472B;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}
.panel > form > p{
    margin:2% 5% 2% 8%;
    font-size: normal;
    color:#92472B;
    font-family: 'Michroma', sans-serif;

}



.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3% ;
}
button{
    border:none ;
}
#pay{
    padding: 10px 30px;
    background-color: #92472B;
    border-radius: 7%;
    color: white;

}
#pay:hover{
    transition: background-color 0.1s ease-in 0.1s ,border  0.1s ease-in 0.1s;
    background-color: brown;
}
#back{
     padding: 0% 3% 0% 3%;
     background-color: transparent; 
     border-radius: 137px 35px 137px 43px;
     color:#92472B;

}
#back:hover{
    transition: background-color 1s ease-in-out 0.3s , transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s ,  box-shadow 0.2s ease-in-out 0s;
    background-color: #EDE9D0;
}